{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="well well-sm text-center" style="font-family: Chiller;font-size: 50px"><span
                    class="glyphicon glyphicon-volume-up"></span> Welcome to my BlogSystem
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            {% if title %}
                <h1 style="font-family:'Viner Hand ITC'" class="text-center">Nice to meet you {{ session['username'] }},
                    Have
                    fun here!</h1>
            {% else %}
                <h1 style="font-family:'Viner Hand ITC'" class="text-center">Have
                    fun here!</h1>
            {% endif %}
        </div>

    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-3">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/penguins/penguins.swf?" width="300" height="225">
                <param name="movie" value="http://cdn.abowman.com/widgets/penguins/penguins.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="scale" value="noscale"/>
                <param name="salign" value="tl"/>
            </object>
            <div class="col-lg-offset-4">
                <object type="application/x-shockwave-flash" style="outline:none;"
                        data="http://cdn.abowman.com/widgets/ballclock/ballclock.swf?" width="300" height="225">
                    <param name="movie" value="http://cdn.abowman.com/widgets/ballclock/ballclock.swf?">
                    <param name="AllowScriptAccess" value="always">
                    <param name="wmode" value="opaque">
                </object>
            </div>
            <div class="col-lg-offset-8">
                <object type="application/x-shockwave-flash" style="outline:none;"
                        data="http://cdn.abowman.com/widgets/discdrop/discDrop.swf?" width="300" height="225">
                    <param name="movie" value="http://cdn.abowman.com/widgets/discdrop/discDrop.swf?">
                    <param name="AllowScriptAccess" value="always">
                    <param name="wmode" value="opaque">
                    <param name="bgcolor" value="FFFFFF"/>
                </object>
            </div>
        </div>
    </div>
{% endblock %}