<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            background: #eee;
        }

        canvas {
            background: white;
            display: block;
        }

        #c {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <script type="text/javascript" src="../static/src/js/welcome.js">
    </script>
</head>
<body>
<div class="container">
    <canvas id="c" width="1305" height="949"></canvas>
</div>
</body>
</html>